[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/vendor/start/auto-pairs"]
	path = vim/pack/vendor/start/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/vendor/start/coc.nvim"]
	path = vim/pack/vendor/start/coc.nvim
	url = git://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/vendor/start/nerdcommenter"]
	path = vim/pack/vendor/start/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/vendor/start/endwise"]
	path = vim/pack/vendor/start/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/pack/vendor/start/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/vendor/start/lightline.vim"]
	path = vim/pack/vendor/start/lightline.vim
	url = git://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/vendor/start/vim-javascript"]
	path = vim/pack/vendor/start/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/vendor/start/vim-ruby"]
	path = vim/pack/vendor/start/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/pack/vendor/start/vim-test"]
	path = vim/pack/vendor/start/vim-test
	url = git://github.com/janko-m/vim-test.git
[submodule "vim/pack/vendor/start/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
